<div>
    <h2 mat-dialog-title>Новое помещение</h2>
    <mat-dialog-content>
        <form>
            <mat-form-field>
                <mat-label>Наименование</mat-label>
                <input matInput placeholder="Наименование" [(ngModel)]="name" name="name">
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="">
        <div class="text-center">
            <button mat-button (click)="onCancel()" class="ml-[15px]">Отмена</button>
            <button mat-button (click)="onSubmit()">Создать</button>
        </div>
    </mat-dialog-actions>
</div>
