<div>
    <div class="flex items-center mr-[20px] w-full">
        <h2 mat-dialog-title>Импорт оборудования из Excel файла</h2>
        <span class="flex-auto"></span>
        <button mat-icon-button (click)="onCancel()" class="mr-[15px]">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <form [formGroup]="importForm">
            <input type="file" formControlName="fileSelect" (change)="onFileChange($event)" accept=".xlsx">
            <div>
                @if (proccess) {
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                }
                @if (imported) {
                    <div class="flex items-center">
                        <div class="mr-2">
                            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>
                        </div>
                        <span class="text-black">Успешно импортировано: {{response.savesCount}}</span>
                    </div>
                    <span class="text-red-500">Ошибки:</span>
                    <div class="overflow-y-scroll h-56">
                        <div *ngFor="let error of response.errors" class="flex items-center mb-4">
                            <div class="mr-2">
                                <mat-icon [ngStyle]="{'color':'red'}">error</mat-icon>
                            </div>
                            <div>
                                <span class="text-black mr-2 m-0 block">Номер строки: {{error.row}} </span>
                                <span class="m-0 block">Текст ошибки: {{error.message}}</span>
                            </div>
                            
                        </div>
                    </div>
                }
            </div>
        </form>
            
    </mat-dialog-content>

    <mat-dialog-actions class="">
        <div class="">
            <button [disabled]="!importForm.valid" mat-flat-button (click)="onImport()">Импортировать</button>
        </div>
    </mat-dialog-actions>

    
</div>
