<div>
    <div class="flex items-center mr-[20px] w-full">
        <h2 mat-dialog-title>Импорт оборудования из Excel файла</h2>
        <span class="flex-auto"></span>
        <button mat-icon-button (click)="onCancel()" class="mr-[15px]">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <form [formGroup]="importForm">
            <input type="file" formControlName="fileSelect" (change)="onFileChange($event)" accept=".xlsx">
            <div class="flex flex-col border-2 rounded-md p-6 mt-4 w-[40vw] flex-wrap">
                <span class="block mb-2">Установить у всего импортируемого оборудования</span>
                <div class="flex w-full">
                    <div class="mr-6 w-full">
                        <mat-form-field class="w-full">
                            <mat-label>Ответственный</mat-label>
                            <mat-select formControlName="autoResponsible" class="w-full">
                                <mat-option>Не устанавливать</mat-option>
                                <mat-option *ngFor="let resp of responsibleData" [value]="resp.id">
                                    {{
                                        resp.lastName + " " +
                                        resp.firstName.substring(0, 1) + ". " +
                                        resp.patronymic.substring(0, 1) + ". "
                                    }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
    
                    <div class="w-full">
                        <mat-form-field class="w-full">
                            <mat-label>Помещение</mat-label>
                            <mat-select formControlName="autoPlacement" class="w-full">
                                <mat-option>Не устанавливать</mat-option>
                                <mat-option *ngFor="let pl of placements" [value]="pl.id">
                                    {{ pl.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="flex">
                    <div class="w-full mr-6">
                        
                        <mat-form-field class="w-full">
                            <mat-label>Дата ввода в эксплуатацию</mat-label>
                            <input matInput [matDatepicker]="dp3" formControlName="autoCommissioningDate" class="w-full">
                            <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                        </mat-form-field>
                        
                    </div>
    
                    <div class="w-full">
                        <div class="w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Номер акта о вводе в эксплуатацию</mat-label>
                                <input matInput placeholder="Номер акта" formControlName="autoCommissioningActNumber" class="w-full">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                @if (proccess) {
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                }
                @if (imported) {
                    <div class="flex items-center">
                        <div class="mr-2">
                            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>
                        </div>
                        <span class="text-black">Успешно импортировано: {{response.savesCount}}</span>
                    </div>
                    <span class="text-red-500">Ошибки:</span>
                    <div class="overflow-y-scroll h-56">
                        <div *ngFor="let error of response.errors" class="flex items-center mb-4">
                            <div class="mr-2">
                                <mat-icon [ngStyle]="{'color':'red'}">error</mat-icon>
                            </div>
                            <div>
                                <span class="text-black mr-2 m-0 block">Номер строки: {{error.row}} </span>
                                <span class="m-0 block">Текст ошибки: {{error.message}}</span>
                            </div>
                            
                        </div>
                    </div>
                }
            </div>
        </form>
            
    </mat-dialog-content>

    <mat-dialog-actions class="">
        <div class="">
            <button [disabled]="!importForm.valid" mat-flat-button (click)="onImport()">Импортировать</button>
        </div>
    </mat-dialog-actions>

    
</div>
