<div>
    <div class="tools flex ml-[25px] mt-[25px]">
        <div class="mr-[25px]">
            <button mat-raised-button>Главная</button>
        </div>
        <form class="flex w-full">
            <div class="h-full w-full">
                <input class="h-full w-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[25px]" placeholder="Поиск ответственного">
            </div>
            <div class="mr-[25px] ml-[25px]">
                <button mat-raised-button>Найти</button>
            </div>
        </form>
    </div>

    <div class="content flex mt-[25px]">
        <div class="filter-class h-[40%] ml-[25px] min-w-[250px] border-4 rounded-md p-2 mr-[25px]">
            <mat-accordion multi>
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="">Структурное подразделение</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex w-full">
                        <div class="w-full h-7 mr-[25px]">
                            <input class="text-[10px] w-full h-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[10px]" placeholder="Структурное подразделение">
                        </div>
                    </div>
                </mat-expansion-panel>
                
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="">Материально ответственные</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <section class="example-section">
                        <mat-checkbox color="primary" class="example-margin"><span class="text-xs">Материально ответственные</span></mat-checkbox>
                    </section>
                </mat-expansion-panel>
            
              </mat-accordion>
              <div class="flex justify-center mt-4 w-full">
                <button mat-flat-button color="primary" class="w-full">Применить</button>
              </div>
        </div>
        <div class="mr-[25px]">
            <table mat-table [dataSource]="dataSource" class="border-4 rounded-lg">
            
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let responsible">{{ responsible.id }}</td>
                </ng-container>
    
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef>Фамилия</th>
                    <td mat-cell *matCellDef="let responsible">{{ responsible.lastName }}</td>
                </ng-container>

                
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef>Имя</th>
                    <td mat-cell *matCellDef="let responsible">{{ responsible.firstName }}</td>
                </ng-container>

                
                <ng-container matColumnDef="patronymic">
                    <th mat-header-cell *matHeaderCellDef>Отчество</th>
                    <td mat-cell *matCellDef="let responsible">{{ responsible.patronymic }}</td>
                </ng-container>

                
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef>Должность</th>
                    <td mat-cell *matCellDef="let responsible">{{ responsible.position }}</td>
                </ng-container>

                
                <ng-container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef>Номер телефона</th>
                    <td mat-cell *matCellDef="let responsible">{{ responsible.phoneNumber }}</td>
                </ng-container>

                
                <ng-container matColumnDef="isFinanciallyResponsible">
                    <th mat-header-cell *matHeaderCellDef>Материально ответственен</th>
                    <td mat-cell *matCellDef="let responsible"> 
                        @if (responsible.isFinanciallyResponsible) { Да }
                        @else { Нет }
                    </td>
                </ng-container>

                
                <ng-container matColumnDef="department">
                    <th mat-header-cell *matHeaderCellDef>Структурное подразделение</th>
                    <td mat-cell *matCellDef="let responsible">{{ responsible.department.name }}</td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="ronded-md"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            <mat-paginator
                [pageSizeOptions]="[10, 25, 50, 100]"
                showFirstLastButtons
            ></mat-paginator>
        </div>
    </div>
</div>
