<div>
    <div class="content mr-[25px] flex mt-[25px] ml-[25px] ">
        <form class="filter-class h-[40%] w-[20.5vw] border-4 rounded-md p-2 mr-[25px]"
        [formGroup]="rentFilterForm">
            <mat-accordion multi>
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="">Ответственный</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field class="w-full">
                        <mat-label>Ответственный</mat-label>
                        <!--[(ngModel)]="selectedDepartment"   -->
                        <mat-select formControlName="responsible" name="responsible">
                            <mat-option>Ничего не выбирать</mat-option>
                            
                            <mat-option *ngFor="let responsible of responsibleData" 
                            [value]="responsible">
                            {{
                                responsible.lastName + ' ' +
                                responsible.firstName + ' ' + 
                                responsible.patronymic 
                            }}
                            </mat-option>
                            
                        </mat-select>
                    </mat-form-field>
                </mat-expansion-panel>
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="">Помещение</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field class="w-full">
                        <mat-label>Помещение</mat-label>
                        <!--[(ngModel)]="selectedDepartment"   -->
                        <mat-select formControlName="placement" name="placement">
                            <mat-option>Ничего не выбирать</mat-option>
                            
                            <mat-option *ngFor="let placement of placements" 
                            [value]="placement"> {{ placement.name }}
                            </mat-option>
                            
                        </mat-select>
                    </mat-form-field>
                </mat-expansion-panel>

                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="">Оборудование</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex">
                        <mat-form-field class="w-full mr-[10px]">
                            <mat-label>Поиск оборудования</mat-label>
                            <input matInput placeholder="Инветарный номер" formControlName="equipmentSearchValue">
                        </mat-form-field>
                        <button mat-icon-button color="primary" aria-label="" (click)="updateEquipmentSelectBySearch()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                    
                    <mat-form-field class="w-full">
                        <mat-label>Оборудование</mat-label>
                        <!--[(ngModel)]="selectedDepartment"   -->
                        <mat-select formControlName="equipment" name="equipment">
                            <mat-option>Ничего не выбирать</mat-option>
                            
                            <mat-option *ngFor="let equipment of equipmentData" 
                            [value]="equipment"> {{ equipment.name + '(№' + equipment.inventoryNumber + ')' }}
                            </mat-option>
                            
                        </mat-select>
                    </mat-form-field>
                </mat-expansion-panel>

                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="">Закрытые взятия</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-radio-group aria-label="Выберите" formControlName="isClosed">
                        <mat-radio-button [value]="'none'" checked>Не указывать</mat-radio-button>
                        
                        <mat-radio-button [value]="true">Завершенные</mat-radio-button>
                        
                        <mat-radio-button [value]="false">Незавершенные</mat-radio-button>
                        
                      </mat-radio-group>
                </mat-expansion-panel>
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="">Дата и время создания</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="">
                        <div class="w-21 h-7 mb-[10px]">
                            <input class="text-[10px] w-full h-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[10px]" 
                            type="text"
                            formControlName="createDateTimeFrom"
                            placeholder="От"
                            onfocus="(this.type='datetime-local')" onblur="if(this.value==''){this.type='text'}">
                        </div>
                        <div class="w-21 h-7">
                            <input class="text-[10px] w-full h-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[10px]" 
                            type="text"
                            formControlName="createDateTimeTo"
                            placeholder="До"
                            onfocus="(this.type='datetime-local')" onblur="if(this.value==''){this.type='text'}">
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="">Дата и время закрытия</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="">
                        <div class="w-21 h-7 mb-[10px]">
                            <input class="text-[10px] w-full h-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[10px]" 
                            type="text"
                            formControlName="endDateTimeFrom"
                            placeholder="От"
                            onfocus="(this.type='datetime-local')" onblur="if(this.value==''){this.type='text'}">
                        </div>
                        <div class="w-21 h-7">
                            <input class="text-[10px] w-full h-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[10px]" 
                            type="text"
                            formControlName="endDateTimeTo"
                            placeholder="До"
                            onfocus="(this.type='datetime-local')" onblur="if(this.value==''){this.type='text'}">
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="flex justify-center mt-4 w-full">
                <button mat-flat-button color="primary" class="w-full" (click)="applyFilters()">Применить</button>
            </div>
            <div class="flex justify-center mt-4 w-full">
                <button mat-flat-button color="primary" class="w-full" (click)="resetFilters()">Сбросить</button>
            </div>
        </form>
        <div class="rows w-full">
            <table mat-table [dataSource]="dataSource" class="border-4 rounded-lg">
            
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let rent">{{ rent.id }}</td>
                </ng-container>
    
                <ng-container matColumnDef="createDateTime">
                    <th mat-header-cell *matHeaderCellDef>Дата и время создания</th>
                    <td mat-cell *matCellDef="let rent">
                        <input disabled type="datetime-local" value="{{rent.createDateTime}}">
                    </td>
                </ng-container>

                <ng-container matColumnDef="equipment">
                    <th mat-header-cell *matHeaderCellDef>Оборудование</th>
                    <td mat-cell *matCellDef="let rent">{{ rent.equipment.name }}</td>
                </ng-container>

                <ng-container matColumnDef="responsible">
                    <th mat-header-cell *matHeaderCellDef>Кто взял</th>
                    <td mat-cell *matCellDef="let rent">
                        {{ 
                            rent.responsible.lastName + ' ' +
                            rent.responsible.firstName + ' ' + 
                            rent.responsible.patronymic
                        }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="placement">
                    <th mat-header-cell *matHeaderCellDef>Помещение</th>
                    <td mat-cell *matCellDef="let rent">{{ rent.placement.name }}</td>
                </ng-container>

                <ng-container matColumnDef="endDateTime">
                    <th mat-header-cell *matHeaderCellDef>Дата и время окончания</th>
                    <td mat-cell *matCellDef="let rent">
                        @if (rent.endDateTime) {
                            <input disabled type="datetime-local" value="{{rent.endDateTime}}">
                        }
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="ronded-md"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="clickRow(row)"></tr>
            </table>
    
            <mat-paginator
                [pageSizeOptions]="[10, 25, 50, 100]"
                showFirstLastButtons
            ></mat-paginator>
        </div>
       
    </div>
    
</div>