<div class="w-full">
    <div class="header m-0 p-0 w-full">
        <mat-toolbar color="primary" class="">
            <button mat-raised-button class="ml-2" color="" aria-label="">
                Новое взятие
            </button>
            <span class="spacer"></span>
            <span class="fullname">Иванов Иван Иванович</span>
            <button mat-icon-button class="example-icon" aria-label="">
                <mat-icon>account_circle</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <div class="flex flex-col justify-center items-center mt-[25px]">
        <app-user-rent-row/>
        <app-user-rent-row/>
    </div>
    
</div>
