<div>
    <div class="flex items-center mr-[20px] w-full">
        <h2 mat-dialog-title>{{ dialogHeader }}</h2>
        <span class="flex-auto"></span>
        <button mat-icon-button (click)="onCancel()" class="mr-[15px]">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <form [formGroup]="responsibleForm">
            <div class="flex flex-col w-full">
                <div class="mb-[25px] flex">

                    <div class="mr-[25px] w-[20vw]">
                        <mat-form-field class="w-full">
                            <mat-label>Фамилия</mat-label>
                            <input matInput placeholder="Фамилия" formControlName="lastName">
                        </mat-form-field>
                    </div>
                    
                    <div class="w-[20vw] mr-[25px]">
                        <mat-form-field class="w-full">
                            <mat-label>Имя</mat-label>
                            <input matInput placeholder="Имя" formControlName="firstName">
                        </mat-form-field>
                    </div>

                    <div class="w-[20vw]">
                        <mat-form-field class="w-full">
                            <mat-label>Отчетство</mat-label>
                            <input matInput placeholder="Отчетство" formControlName="patronymic">
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="flex w-full">
                    <div class="w-[33%] mr-[25px] ">
                        <mat-form-field class="w-full">
                            <mat-label>Должность</mat-label>
                            <input matInput placeholder="Должность" formControlName="position">
                        </mat-form-field>
                    </div>

                    <div class="w-[33%] mr-[25px]">
                        <mat-form-field class=" w-full">
                            <mat-label>Номер телефона</mat-label>
                            <input matInput placeholder="Номер телефона" formControlName="phoneNumber">
                        </mat-form-field>
                    </div>

                    <div class="w-[33%]">
                        <mat-form-field class="w-full">
                            <mat-label>Структурное подразделение</mat-label>
                            <mat-select formControlName="department">
                                <mat-option *ngFor="let department of departments" 
                                [value]="department">{{department.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="w-full">
                    <mat-checkbox formControlName="financiallyResponsible">Материально ответственный</mat-checkbox>
                </div>
            </div>
            
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="">
        <div class="mb-[10px] ml-[15px] flex w-full justify-between">
            @if (this.data) {
                <button mat-stroked-button (click)="onResponsibleChange()" class="w-[50%]" color="primary">Изменить</button>
                <button mat-flat-button (click)="onResponsibleDelete()" class="mr-[15px] w-[50%]" color="warn">Удалить</button>
            } @else {
                <button mat-flat-button (click)="onResponsibleCreate()" color="primary">Создать</button>
            }
        </div>
    </mat-dialog-actions>

    
</div>
