<div class="w-full">
    
    <div class="header m-0 p-0 w-full">
        <mat-toolbar color="primary" class="w-full">
            @if (!isLoggedIn) { 
                <span class="flex-auto"></span>
                <span>Авторизуйтесь для начала работы</span>
            }
            @else {
                @if (isAdmin || isLabhead) {
                    <button mat-raised-button class="ml-2" [routerLink]="['main']">
                        Главная
                    </button>
                    <button mat-raised-button class="ml-2" color="" aria-label="" (click)="onOpenAddInfoDialog()">
                        Добавить информацию
                    </button>
                    <button mat-raised-button class="ml-2" color="" aria-label="" (click)="onOpenImportDialog()">
                        Импорт оборудования
                    </button>
                }
                @if (isUser){
                    <button mat-raised-button class="ml-2" color="" aria-label="" [routerLink]="['user-rents']">
                        Мои выносы
                    </button>
                    <button mat-raised-button class="ml-2" color="" aria-label="" [routerLink]="['user-search']">
                        Новый вынос
                    </button>
                }
                
                <span class="flex-auto"></span>
                <span>{{ responsible.lastName + ' ' + responsible.firstName + ' ' + responsible.patronymic }}</span>
                <button mat-icon-button class="example-icon" (click)="logout()" aria-label="" matTooltip="Выйти">
                    <mat-icon>logout</mat-icon>
                </button>
            }
        </mat-toolbar>
    </div>
    <div class="w-full">
        <router-outlet />
    </div>
</div>


