<div class="row w-full flex p-[25px] border-2 rounded-md mb-[25px]">
    <div class="image-number">
        <div class="image w-[210px] h-[210px] border-2 rounded-md">
            <img src="https://www.jmlonline.com/img/no-product.png">
        </div>
        <div class="number text-center mt-2">
            <span class="text-xs">№ 0000000001</span>
        </div>
    </div>
    <div class="info flex flex-col ml-[25px]">
        <div class="name">
            <div class="name text-lg font-bold">
                <span>Наменование</span>
            </div>
        </div>
        <div class="additional-info flex">
            <div class="description w-[500px] mr-[25px] h-[80%]">
                <mat-form-field class="example-full-width w-full">
                    <mat-label>Описание</mat-label>
                    <textarea matInput placeholder="Описание"></textarea>
                  </mat-form-field>
            </div>   
            <div class="w-[350px]">
                <div class="h-[70px] flex text-center justify-center align-middle">
                    <mat-form-field class="example-form-field w-full mr-[10px]">
                        <mat-label>Ответственный</mat-label>
                        <input disabled="" matInput type="text" value="Иванов Иван Иванович">
                    </mat-form-field>
                    <!--<div><input class="w-full h-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[10px]" placeholder="До"></div> -->
                    <button class="block" matTooltip="Просмотреть информацию" mat-icon-button aria-label="Example icon button with a open in new tab icon">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </div>
                <div class="h-[70px] flex text-center justify-center align-middle">
                    <mat-form-field class="example-form-field w-full mr-[10px]">
                        <mat-label>Структурное подразделение</mat-label>
                        <input disabled="" matInput type="text" value="ФиПИ">
                    </mat-form-field>
                    <!--<div><input class="w-full h-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[10px]" placeholder="До"></div> -->
                    <button class="block" matTooltip="Просмотреть информацию" mat-icon-button aria-label="Example icon button with a open in new tab icon">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </div>
                <div class="h-[70px] flex text-center justify-center align-middle">
                    <mat-form-field class="example-form-field w-full mr-[10px]">
                        <mat-label>Помещение</mat-label>
                        <input disabled="" matInput type="text" value="Аудитория 303-3">
                    </mat-form-field>
                    <!--<div><input class="w-full h-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[10px]" placeholder="До"></div> -->
                    <button class="block" matTooltip="Просмотреть информацию" mat-icon-button aria-label="Example icon button with a open in new tab icon">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
</div>
