<div>
    <div class="tools flex ml-[25px] mt-[25px] mb-[25px]">
        <div class="mr-[25px] ">
            <button mat-raised-button>Главная</button>
        </div>
        <form class="flex w-full">
            <div class="h-full w-full">
                <input class="h-full w-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[25px]" placeholder="Поиск подкатегории">
            </div>
            <div class="mr-[25px] ml-[25px]">
                <button mat-raised-button>Найти</button>
            </div>
        </form>
    </div>
    <div class="content mr-[25px] flex">
        <div class="filter-class h-[40%] ml-[25px] min-w-[250px] border-4 rounded-md p-2 mr-[25px]">
            <mat-accordion multi>
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="">Категория</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex w-full">
                        <div class="w-full h-7 mr-[25px]">
                            <input class="text-[10px] w-full h-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[10px]" placeholder="Категория">
                        </div>
                    </div>
                </mat-expansion-panel>
              </mat-accordion>
              <div class="flex justify-center mt-4 w-full">
                <button mat-flat-button color="primary" class="w-full">Применить</button>
              </div>
        </div>
        <div class="w-full">
            <table mat-table [dataSource]="dataSource" class="border-4 rounded-lg">
            
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let subcategory">{{ subcategory.id }}</td>
                </ng-container>
    
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Название</th>
                    <td mat-cell *matCellDef="let subcategory">{{ subcategory.name }}</td>
                </ng-container>
                
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Категория</th>
                    <td mat-cell *matCellDef="let subcategory">{{ subcategory.category.name }}</td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="ronded-md"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            <mat-paginator
                [pageSizeOptions]="[10, 25, 50, 100]"
                showFirstLastButtons
            ></mat-paginator>
        </div>
    </div>
</div>