.page {
  border-width: 4px;
  border-radius: 0.375rem;
  cursor: pointer;
  width: 20%;
  height: 250px;
  margin-right: 25px;
}

.page p {
  margin-left: 15px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 1.2vw;
}

.equipment {
  background: url("/assets/computer-icon.png");
  background-repeat: no-repeat;
  background-position: 90% 100%;;
  background-size: 55%;
}

.responsible {
  background: url("/assets/person-group-icon.png");
  background-repeat: no-repeat;
  background-position: 90% 100%;;
  background-size: 60%;
}

.rent {
  background: url("/assets/trackpad-input-icon.png");
  background-repeat: no-repeat;
  background-position: 90% 100%;;
  background-size: 50%;
}

.department {
  background: url("/assets/groups-icon.png");
  background-repeat: no-repeat;
  background-position: 80% 100%;
  background-size: 80%;
}

.placement {
  background: url("/assets/meeting-room-icon.png");
  background-repeat: no-repeat;
  background-position: right 100%;
  background-size: 60%;
}

.category {
  background: url("/assets/category-icon.png");
  background-repeat: no-repeat;
  background-position: right 100%;
  background-size: 55%;
}

.subcategory {
  background: url("/assets/action-key-icon.png");
  background-repeat: no-repeat;
  background-position: right 100%;
  background-size: 55%;
}

.user {
  background: url("/assets/supervised-user-circle-icon.png");
  background-repeat: no-repeat;
  background-position: right 100%;
  background-size: 55%;
}