<div class="flex flex-col items-center text-center border-2 rounded-md p-[25px] mb-[25px] w-[80vw]">
    <form class="w-full">
        <h2 class="block mb-[25px]">Взятие №</h2>
        <mat-form-field class="example-full-width w-full">
            <mat-label>Инвентарый номер</mat-label>
            <input matInput placeholder="Инвентарый номер">
        </mat-form-field>
        <mat-form-field class="example-full-width w-full">
            <mat-label>Наименование</mat-label>
            <input matInput placeholder="Наименование">
        </mat-form-field>
        <mat-form-field class="example-full-width w-full">
            <mat-label>Дата и время взятия</mat-label>
            <input matInput placeholder="Дата и время взятия" type="datetime-local">
        </mat-form-field>
        <mat-form-field class="example-full-width w-full">
            <mat-label>Помещение</mat-label>
            <input matInput placeholder="Помещение" type="text">
        </mat-form-field>
        <div class="text-center">
            <button mat-flat-button color="primary" class="w-[20vw]">Вернуть</button>
        </div>
    </form>
</div>