<div>
    <div class="flex items-center mr-[20px] w-full">
        <h2 mat-dialog-title>{{ dialogHeader }}</h2>
        <span class="flex-auto"></span>
        <button mat-icon-button (click)="onCancel()" class="mr-[15px]">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <form>
            <mat-form-field class="w-full">
                <mat-label>Название</mat-label>
                <input matInput placeholder="Название" [(ngModel)]="subcategory.name" name="name">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Категории</mat-label>
                <mat-select [(ngModel)]="selectedCategory" name="selectedCategory">
                    <mat-option *ngFor="let category of categories" 
                    [value]="category">{{category.name}}</mat-option>
                </mat-select>
              </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="">
        <div class="mb-[10px] ml-[15px] flex w-full justify-between">
            @if (this.data) {
                <button mat-stroked-button (click)="onSubcategoryChange()" class="w-[50%]" color="primary">Изменить</button>
                <button mat-flat-button (click)="onSubcategoryDelete()" class="mr-[15px] w-[50%]" color="warn">Удалить</button>
            } @else {
                <button mat-flat-button (click)="onSubcategoryCreate()" color="primary">Создать</button>
            }
        </div>
    </mat-dialog-actions>
</div>
