<div>
    <h2 mat-dialog-title>Новое оборудование</h2>
    <mat-dialog-content>
        <form>
            <div class="flex flex-col w-full">
                <div class="mb-[25px] flex">

                    <div class="mr-[25px] w-[30vw]">
                        <mat-form-field class="w-full">
                            <mat-label>Наименование</mat-label>
                            <input matInput placeholder="Наименование">
                        </mat-form-field>
                    </div>
                    
                    <div class="w-[30vw]">
                        <mat-form-field class="w-full">
                            <mat-label>Инвентарный номер</mat-label>
                            <input matInput placeholder="Инвентарный номер">
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="flex mb-[25px] w-full">
                    <div class="w-[33%] mr-[25px] ">
                        <mat-form-field class="w-full">
                            <mat-label>Начальная стоимость</mat-label>
                            <input matInput placeholder="Начальная стоимость" type="number">
                        </mat-form-field>
                    </div>

                    <div class="w-[33%] mr-[25px]">
                        <mat-form-field class=" w-full">
                            <mat-label>Дата ввода в эксплуатацию</mat-label>
                            <input matInput placeholder="Дата ввода в эксплуатацию" type="date">
                        </mat-form-field>
                    </div>

                    <div class="w-[33%]">
                        <mat-form-field class="w-full">
                            <mat-label>Номер акта о вводе в экслуатацию</mat-label>
                            <input matInput placeholder="Номер акта">
                        </mat-form-field>
                    </div>
                </div>

                <div class="w-full">
                    <mat-form-field class="mb-[25px] w-full">
                        <mat-label>Описание</mat-label>
                        <textarea matInput placeholder="Описание"></textarea>
                    </mat-form-field>
                </div>
                    
                <div class="flex w-full" >

                    <div class="mr-[25px] w-[33%]">
                        <mat-form-field class="w-full">
                            <mat-label>Подкатегория</mat-label>
                            <mat-select>
                                <mat-option value="Категория 1">Подкатегория 1</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                    <div class="mr-[25px] w-[33%]">
                        <mat-form-field class="w-full">
                            <mat-label>Ответственный</mat-label>
                            <mat-select>
                                <mat-option value="Иванов Иван Иванович">Иванов Иван Иванович</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                    <div class="w-[33%]">
                        <mat-form-field class="w-full">
                            <mat-label>Помещение</mat-label>
                            <mat-select>
                                <mat-option value="303-3">303-3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                </div>
            </div>
            
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="">
        <div class="text-center">
            <button mat-flat-button (click)="onCancel()" class="ml-[15px]">Отмена</button>
            <button mat-flat-button (click)="onSubmit()" color="primary">Создать</button>
        </div>
    </mat-dialog-actions>

    
</div>
