<div class="w-full">
    <div class="header m-0 p-0 w-full">
        <mat-toolbar color="primary" class="">
            <button mat-raised-button class="ml-2" color="" aria-label="">
                Мои взятия
            </button>
            <span class="spacer"></span>
            <span class="fullname">Иванов Иван Иванович</span>
            <button mat-icon-button class="example-icon" aria-label="">
                <mat-icon>account_circle</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <div class="h-[90vh] w-full flex justify-center items-center">
        <div class="flex flex-col border-2 rounded-md p-[25px]">
            <div class="flex flex-col text-center items-center">
                <span class="mb-[25px]">Чтобы взять оборудование</span>
                <button mat-flat-button class="w-[30vw] mb-[25px]" color="primary">Сканируйте QR-код</button>
                <span class="mb-[25px]">или</span>
            </div>
            <form class="w-full flex flex-col text-center items-center">
                <span class="mb-[25px]">Введите инвентарный номер</span>
                <mat-form-field  class="w-[30vw]">
                    <mat-label>Инвентарный номер</mat-label>
                    <input matInput placeholder="Инвентарный номер" value="00000001">
                </mat-form-field>
                <div class="text-center">
                    <button class="w-[30vw]" mat-flat-button color="primary" type="submit">Найти</button>
                </div>
            </form>
        </div>
    </div>
    
</div>
