<div class="p-[25px] border-2 rounded-md mb-[25px]">
    <div class="mb-[25px]">
        <span class="text-lg font-bold">Взятие № , Наименование оборудования</span>
    </div>
    <div class="content flex">
        <div class="mr-[25px] min-w-[20%] w-full max-w-[40%]">
            <mat-form-field class="example-full-width w-full">
                <mat-label>Описание</mat-label>
                <textarea matInput placeholder="Описание"></textarea>
              </mat-form-field>
        </div>
        <div class="mr-[25px] min-w-[10%] w-[25%]">
            <div >
                <mat-form-field class="example-form-field w-full mr-[10px]">
                    <mat-label>Дата создания</mat-label>
                    <input value="2018-06-12T19:30" matInput type="datetime-local">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-form-field w-full mr-[10px]">
                    <mat-label>Дата закрытия</mat-label>
                    <input value="" matInput type="datetime-local">
                </mat-form-field>
            </div>
        </div>
        <div class=" min-w-[10%] w-[35%]">
            <div>
                <mat-form-field class="example-form-field w-full mr-[10px]">
                    <mat-label>Ответственный</mat-label>
                    <input value="Иванов Иван Иванович" matInput type="text">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-form-field w-full mr-[10px]">
                    <mat-label>Помещение</mat-label>
                    <input value="303-3" matInput type="text">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>