<div class="row w-full p-[25px] border-2 rounded-md mb-[25px]">
    <div class="fullname text-lg font-bold">
        <span>Иванов Иван Иванович</span>
    </div>
    <div class="flex mt-[25px]">
        <div class="min-w-[400px] mr-[25px]" >
            <div class="">
                <mat-form-field class="w-full">
                    <mat-label>Должность</mat-label>
                    <input matInput class="w-full" placeholder="Должность" value="Заведующий лабораторией КИТП">
                </mat-form-field>
            </div>
            <div class="min-w-[400px]">
                <mat-form-field class="w-full">
                    <mat-label>Номер телефона</mat-label>
                    <input matInput placeholder="Должность" value="79234567890">
                </mat-form-field>
            </div>
        </div>

        <div>
            <div class="">
                <mat-form-field class="">
                    <mat-label>Структурное подразделение</mat-label>
                    <input matInput placeholder="Должность" value="КИТП">
                </mat-form-field>
            </div>
            <div>
                <mat-checkbox color="primary" class="example-margin"><span class="">Материально ответственный</span></mat-checkbox>
            </div>
        </div>
    </div> 
</div>
