<div class="w-full mb-[25px] flex border-2 rounded-md p-[25px] items-center">
    <div class="">
        <span class="text-lg font-bold mr-[25px]">{{categoryName}}</span>
    </div>
    <span class="spacer"></span>
    <div class="flex">
        <div class="mr-[25px]">
            <button mat-raised-button class="w-full" (click)="onDelete()">Удалить</button>
        </div>
        
        <div class="mr-[25px]">
            <button mat-raised-button class="w-full">Изменить</button>
        </div>
        
        <div class="">
            <button mat-raised-button class="w-full" (click)="onSubcategoriesShow()">Посмотреть подкатегории</button>
        </div>
    </div>
</div>
