<div class="p-[25px] flex items-center border-2 rounded-md w-full mb-[25px]">
    <div class="flex">
        <span class="text-lg font-bold mr-[25px]">Наименование подкатегории</span>
    </div>
    <span class="spacer"></span>
    <div class="flex">
        <div class="mr-[25px]">
            <button mat-raised-button class="w-full">Удалить</button>
        </div>
        
        <div class="mr-[25px]">
            <button mat-raised-button class="w-full">Изменить</button>
        </div>
        
        <div class="">
            <button mat-raised-button class="w-full">Посмотреть оборудование</button>
        </div>
    </div>
</div>