<div>
    <div class="flex items-center mr-[20px] w-full">
        <h2 mat-dialog-title>{{ dialogHeader }}</h2>
        <span class="flex-auto"></span>
        <button mat-icon-button (click)="onCancel()" class="mr-[15px]">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <form [formGroup]="userForm">
            <div class="flex flex-col w-full">

                    <div class="mr-[25px] w-full">
                        <mat-form-field class="w-full">
                            <mat-label>Логин для входа</mat-label>
                            <input matInput placeholder="Логин" formControlName="username">
                            @if (userForm.controls["username"].hasError('minlength')) {
                                <mat-error>Мин. длина: <strong>8 символов</strong></mat-error>
                            }
                            
                        </mat-form-field>
                    </div>
                    
                    @if (!this.data) {
                        <div class="w-full mr-[25px]">
                            <mat-form-field class="w-full">
                                <mat-label>Пароль</mat-label>
                                <input matInput placeholder="Пароль" formControlName="password">
                                @if (userForm.controls["password"].hasError('minlength')) {
                                    <mat-error>Мин. длина: <strong>8 символов</strong></mat-error>
                                }
                            </mat-form-field>
                        </div>
                    }
                    

                    <div class="w-full">
                        <mat-form-field class="w-full">
                            <mat-label>Владелец аккаунта</mat-label>
                            <mat-select formControlName="responsible">
                                <mat-option *ngFor="let responsible of responsibleData" 
                                [value]="responsible">
                                {{
                                    responsible.lastName + ' ' + 
                                    responsible.firstName + ' ' +
                                    responsible.patronymic
                                }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                

                <div class="w-full">
                    @if (!this.data) { <span>Выберите роли нового пользователя: </span> }
                    @else { <span>Роли пользователя: </span> }
                    <div class="flex flex-col">
                        <mat-checkbox formControlName="isAdmin">Администратор</mat-checkbox>
                        <mat-checkbox formControlName="isLabhead">Заведующий лабораторией</mat-checkbox>
                        <mat-checkbox formControlName="isUser">Обычный пользователь</mat-checkbox>
                    </div>
                    
                </div>
            </div>
            
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="">
        <div class="mb-[10px] ml-[15px] flex w-full justify-between">
            @if (this.data) {
                <button mat-flat-button (click)="onUserDelete()" class="mr-[15px] w-full" color="warn">Удалить</button>
            } @else {
                <button [disabled]="!userForm.valid" mat-flat-button (click)="onUserCreate()" color="primary">Создать</button>
            }
        </div>
    </mat-dialog-actions>
</div>
