<div class="">
    <div class="content flex w-full mt-[25px] mr-[25px]">
        <form class="filter-class h-[40%] ml-[25px] w-[20.5vw] border-4 rounded-md p-2 mr-[25px]" 
        [formGroup]="equipmentFilterForm">
            <mat-accordion multi>
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="">Начальная стоимость, руб</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="w-full">
                        <mat-form-field class="mr-[25px] h-16 w-full">
                            <input matInput class=" w-full h-full" type="number"
                            placeholder="От" formControlName="initialCostFrom">
                        </mat-form-field>
                        
                        <mat-form-field class="w-full h-16">
                            <input matInput class="w-full h-full" type="number" 
                                placeholder="До" formControlName="initialCostTo">
                        </mat-form-field> 
                    </div>
                </mat-expansion-panel>
                
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="">Дата ввода в экплуатацию</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="">
                        <div class="w-full h-7 mr-[10px] mb-[10px]">
                            <!-- <label class="text-xs" for="commissioning-date-from">От</label> -->
                            <input matInput id="commissioning-date-from" 
                            class="text-[10px] w-full h-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[10px]" 
                            formControlName="commissioningDateFrom"
                            placeholder="От" required="" type="text" 
                            onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}">
                        </div>
                        <div class="w-full h-7">
                            <!-- <label class="text-xs" for="commissioning-date-to">До</label> -->
                            <input matInput id="commissioning-date-to" 
                            class="text-[10px] w-full h-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[10px]" 
                            formControlName="commissioningDateTo"
                            placeholder="До" required=""
                            onfocus="(this.type='date')" 
                            onblur="if(this.value==''){this.type='text'}">
                        </div>
                    </div>
                </mat-expansion-panel>
                
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="">Дата вывода из экплуатации</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="">
                        <div class="w-full h-7 mr-[10px] mb-[10px]">
                            <!-- <label class="text-xs" for="commissioning-date-from">От</label> -->
                            <input id="commissioning-date-from" 
                            class="text-[10px] w-full h-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[10px]" 
                            formControlName="decommissioningDateFrom"
                            type="date" placeholder="От" 
                            required="" type="text" 
                            onfocus="(this.type='date')" 
                            onblur="if(this.value==''){this.type='text'}">
                        </div>
                        <div class="w-full h-7">
                            <!-- <label class="text-xs" for="commissioning-date-to">До</label> -->
                            <input id="commissioning-date-to" 
                            class="text-[10px] w-full h-full border-2 rounded-md  shadow-gray-500 shadow-sm pl-[10px]"
                            formControlName="decommissioningDateTo" 
                            type="date" placeholder="До" 
                            required="" type="text" 
                            onfocus="(this.type='date')" 
                            onblur="if(this.value==''){this.type='text'}">
                        </div>
                    </div>
                </mat-expansion-panel>
              
              <mat-expansion-panel class="mb-[10px]">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="">Подкатегория</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field class="w-full">
                    <mat-label>Подкатегория</mat-label>
                    <!--[(ngModel)]="selectedDepartment"   -->
                    <mat-select formControlName="subcategory" name="selectedDepartment">
                        <mat-option>Ничего не выбирать</mat-option>
                        
                        <mat-option *ngFor="let subcategory of subcategories" 
                        [value]="subcategory">{{subcategory.name}}</mat-option>
                        
                    </mat-select>
                  </mat-form-field>
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="">Ответственный</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field class="w-full">
                    <mat-label>Ответственный</mat-label>
                    <!--[(ngModel)]="selectedDepartment"   -->
                    <mat-select formControlName="responsible" name="selectedDepartment">
                        <mat-option>Ничего не выбирать</mat-option>
                        
                        <mat-option *ngFor="let responsible of responsibleData" 
                        [value]="responsible">
                        {{
                            responsible.lastName + ' ' 
                            + responsible.firstName.substring(0, 1) + '. ' 
                            + responsible.patronymic.substring(0, 1) + '.' 
                        }}
                        </mat-option>
                        
                    </mat-select>
                  </mat-form-field>
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="">Помещение</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field class="w-full">
                    <mat-label>Помещение</mat-label>
                    <!--[(ngModel)]="selectedDepartment"   -->
                    <mat-select formControlName="placement" name="selectedDepartment">
                        <mat-option>Ничего не выбирать</mat-option>
                        
                        <mat-option *ngFor="let placement of placements" 
                        [value]="placement">{{placement.name}}</mat-option>
                        
                    </mat-select>
                  </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
              <div class="flex justify-center mt-4 w-full">
                <button mat-flat-button color="primary" class="w-full" (click)="applyFilters()">Применить</button>
              </div>
              <div class="flex justify-center mt-4 w-full">
                <button mat-flat-button color="primary" class="w-full" (click)="resetFilters()">Сбросить</button>
              </div>
        </form>
        <div class="equipment-list mr-[25px] w-full">
            <mat-form-field class="w-full">
                <mat-label>Поиск оборудования</mat-label>
                <input matInput placeholder="Поиск оборудования по инветарному номеру / названию / актам" 
                (keyup)="searchByName($event)"  #input>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" class="border-4 rounded-lg" matSort>
            
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                    <td mat-cell *matCellDef="let equipment">{{ equipment.id }}</td>
                </ng-container>

                <ng-container matColumnDef="inventoryNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Инвентарный номер</th>
                    <td mat-cell *matCellDef="let equipment">{{ equipment.inventoryNumber }}</td>
                </ng-container>
    
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
                    <td mat-cell *matCellDef="let equipment">{{ equipment.name }}</td>
                </ng-container>
                
                <ng-container matColumnDef="initialCost">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Начальная стоимость, руб</th>
                    <td mat-cell *matCellDef="let equipment">{{ equipment.initialCost }}</td>
                </ng-container>

                
                <ng-container matColumnDef="responsible">
                    <th mat-header-cell *matHeaderCellDef>Ответственный</th>
                    <td mat-cell *matCellDef="let equipment">
                        {{ 
                            equipment.responsible.lastName + ' ' +
                            equipment.responsible.firstName.substring(0, 1) + '. ' +
                            equipment.responsible.patronymic.substring(0, 1) + '.' 
                        }}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="placement">
                    <th mat-header-cell *matHeaderCellDef>Помещение</th>
                    <td mat-cell *matCellDef="let equipment">{{ equipment.placement.name }}</td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="ronded-md"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="clickRow(row)"></tr>
            </table>
    
            <mat-paginator
                [pageSizeOptions]="[10, 25, 50, 100]"
                showFirstLastButtons
            ></mat-paginator>
        </div>
    </div>
</div>